@model Zaginionki.Models.Zaginiony

@{
    ViewData["Title"] = "Details";
    var imagePath = Model.Zdjecie;
}

<h1>Details</h1>

<div>
    <h4>Zaginiony</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZaginiecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZaginiecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wojewodztwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zdjecie)
        </dt>
        <dd class = "col-sm-10">
            <img src=@imagePath alt="Sample Image" width="300" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
